<body>
  <div class='nav'>
    <ul class="pull-left">
      <li><%= link_to "About", about_path(@user) %></li>
    </ul>
    <ul class="pull-right">
      <li>  <%= link_to @user.name, user_profile_path(@user) %> <%= link_to('(Log Out)', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </div>
  
  <div class='main'>
  <div class="col-md-10">
    <h2>iPortal</h2>
    <h3> </h3>
    <table style="width:100%">
      <tr>
        <th>Title</th>
        <th>Description</th> 
        <th>Type</th>
        <th>Download</th>
      </tr>
      <tr>
        <td><%= @data.title %></td>
        <td><%= @data.description %></td>
        <td><%= @data.Type %></td>
        <td><%= link_to "Download IP", @data.uploads_url %></td>
      </tr>
    </table>
    <div class='button'>
    <a><%= button_to "License This IP", new_contract_path(@data), method: :put %></a>
    </div>
  </div>
  </div>

  </div>
  </div>
  
  <div class='side'>
  <div class="col-md-2">
    <%= link_to image_tag("iiitbLogo.jpeg", :alt => "iiitbLogo", height: '150', width: '232'), root_path%>
    <ul>
        <li><a>
        <%= link_to "Profile", user_profile_path(@user) %>
        </a></li>
        <li><a>
        <%= link_to "My IPs", ip_myIps_path(@user) %>
        </a></li>
        <li><%= link_to "Earnings", user_earnings_path(@user) %></li>
        <li><%= link_to "Upload an IP", ip_upload_ip_path(@user) %></li>
        <% if @user.flag? %>
        <li><%= link_to "Pending Approvals", user_pending_path(@user) %></li>
        <% end %>
        <% if @user.flag==0 %>
          <li><a><%= link_to "View all users", admin_viewall_path(@user) %></a></li>
          <li><a><%= link_to "Add User", admin_createuser_path(@user) %></a></li>
        <% end %>
    </ul>
  </div>
  </div> 

  <div class="footer">
    <p>For any additional information or enquiry, contact us at <a href="www.gmail.com">iPortal@gmail.com</a>, or call <a href="#">0987654321</a></p>
  </div>
 </body>
<% else %>
<body>
