<body>
  <div class='nav'>
    <ul class="pull-left">
      <li><a href="#">About</a></li>
    </ul>
    <ul class="pull-right">
      <li>  <%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>
    
    </ul>
  </div>
  
  <div class='main'>
  <div class="col-md-10">
         <h2>Sign up</h2>
<%= form_for(:user, url: admin_createuser_path()) do |f| %>

<div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name%>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <!--<div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>-->




  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  <div>
  <%= flash[:notice]%>
  </div>
<% end %>

  </div>
  </div>
  
  <div class='side'>
  <div class="col-md-2">
    <%= image_tag("iiitbLogo.jpeg", :alt => "iiitbLogo", height: '150', width: '232') %>
    <ul>
        <li><a>
        <%= link_to "Profile", user_profile_path(@user) %>
        </a></li>
        <li><a>
        <%= link_to "My IPs", ip_myIps_path(@user) %>
        </a></li>
        <!--<li><a href="#">My IPs</a></li>-->
        <li><%= link_to "Earnings", user_earnings_path(@user) %></li>
        <li><%= link_to "Upload an IP", ip_upload_ip_path(@user) %></li>
        <li><a><%= link_to "View all users", admin_viewall_path(@user) %></a></li>
        <li><a><%= link_to "Add User", admin_createuser_path(@user) %></a></li>
    </ul>
  </div>
  </div> 

  <div class="footer">
    <p>For any additional information or enquiry, contact us at <a href="www.gmail.com">iPortal@gmail.com</a>, or call <a href="#">0987654321</a></p>
  </div>
 </body>
<% else %>
<body>





