<body>
  <div class='nav'>
    <ul class="pull-left">
      <li><%= link_to "About", admin_about_path(@user) %></li>
    </ul>
    <ul class="pull-right">
      <li> <%= link_to @user.name, user_profile_path(@user) %> <%= link_to('(Log Out)', destroy_user_session_path, :method => :delete) %></li>
  
    </ul>
  </div>
  
  <div class='main'>
  <div class="col-md-10">
    <h2>iPortal</h2>
    <h3>Here is a list of all our IPs</h3>
    <table style="width:100%">
      <tr>
        <th>Title</th>
        <th>Description</th> 
      </tr>
      <% @data.each do |data| %>
      <% if data.approval_status != 0 %>
        <tr>
          <td><a><%= link_to data.title, ip_info_path(:title => data.title, :desc => data.description, :kind => data.Type, :id => data.id) %></a></td>
          <td><%= data.description %></td>
        </tr>
        <% end %>
        <%end%>
  </table>
  </div>
  </div>
  
  <div class='side'>
  <div class="col-md-2">
    <%= link_to image_tag("iiitbLogo.jpeg", :alt => "iiitbLogo", height: '150', width: '232'), root_path%>
    <ul>
        <li><a>
        <%= link_to "Profile", admin_profile_path(@user) %>
        </a></li>
        <li><a>
        <%= link_to "My IPs", ip_myIps_path(@user) %>
        </a></li>
        <!--<li><a href="#">My IPs</a></li>-->
        <li><%= link_to "Earnings", admin_earnings_path(@user) %></li>
        <li><%= link_to "Upload an IP", ip_upload_ip_path(@user) %></li>
        <li><a><%= link_to "View all users", admin_viewall_path(@user) %></a></li>
        <li><a><%= link_to "Add User", admin_createuser_path(@user) %></a></li>
        <li><a><%= link_to "Conflicted Ips", admin_conflict_ip_path(@user) %></a></li>
    </ul>
  </div>
  </div> 

  <div class="footer">
    <p>For any additional information or enquiry, contact us at <a href="www.gmail.com">iPortal@gmail.com</a>, or call <a href="#">0987654321</a></p>
  </div>
 </body>
<% else %>
<body>
